body{
    background-color:#5286F3;
    font-size:14px;
    color:#fff;
}
.simple-login-container{

    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:#2a503152;
    color:#fff;
}
a{
    color:#fff;
}

.verde{
    background: #159E31;
    border-top: 5px solid #2a503152;
}

.google-btn{
    background: #159E31;
    border: #159E31;
    color: #fff;
    transition: 0.4s;

}.google-btn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: #0e6921;
}