<div class="container bg-light p-4 rounded contenedor-padre">
    <div class="pb-3">
        <ol class="breadcrumb migas">
            <li (click)="goToCategorias();" class="breadcrumb-item"><a style="text-decoration: none;">Categorías</a></li>
        </ol>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let target of targets;" class="col-sm-6 col-md-4">
                <div (click)="action(target.id);" class="card targetita p-1 my-3 shadow-sm">
                    <img class="card-img-top" src="">
                    <div class="card-body">
                        <h5 class="card-title">{{target.nombre}}</h5>
                        <p class="card-text">Platanito weno de canarias</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>